body {
  font-family: 'proxima-nova', sans-serif;
  margin: 0;
  background: transparent; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body, #app {
  /* min-height: 100vh; */
  max-height: 100%;
  max-width: 100%;
}

input[type="text"] {
  margin: 10px 0px;
  height: 40px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  color: #1e1e1e;
  font: 400 1rem "proxima-nova", sans-serif;
  width: 80%;
  border: 1px solid #dee0e0;
  padding: 0 20px;
  -webkit-transition: border-color 0.2s ease-in-out;
  -moz-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}

.start{
   margin: 0vw 0vw !important;
  height: 10vw !important;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  color: #1e1e1e;
  font-size:calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))!important;
  width: 60vw !important;
  border: 1px solid #dee0e0;
  padding: 0 20px;
  -webkit-transition: border-color 0.2s ease-in-out;
  -moz-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}


input[type="text"]:focus {
  border: 1px solid #AF9570;
  outline: none !important;
}

/*input[type="submit"] {
  background-color: #323232;
  color: white;
  font: 700 1rem "proxima-nova",sans-serif;
  border: none;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  padding: 20px 80px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
  -moz-box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
  box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
  margin-top: 20px;
}*/

/* input[type="submit"]:hover {
  -webkit-box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
  -moz-box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
  box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
  background-color: #1e1e1e;
} */

.chat-image{
  display: inline;
  margin: 0 auto;
  max-width: 50%;  
  height: auto;
  width: auto/9; /*ie8 */
  position: relative;
  overflow: hidden;
  margin-right: 0px;
}

.init-chat-text{
  justify-content: right;
  text-align: right;
  color: white;
  /* padding-right: 3.5%; */
  font-weight: bold;
}

.chat-image:hover{
  cursor: pointer;
  transform: scale(1.1);
  padding-bottom: 1.8%;
}

.container-chat {
  display: flex;
  flex-direction: column;
  position: fixed;
  /* bottom: 0;
  right: 0; */

}

.container-chat {
    width: 40%;
    /* padding-right: 10px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-top:  103px; */
    
    /* padding-right: 10px; */
    /* padding-left: 20px; */
    /* margin-right: auto; */
    /* margin-left: auto; */
    /* padding-top: 103px; */
    bottom: 0;
    right: 3vw;
    

}

.btn-start{
  background-color: #1B4F72;
  color: white;
  height:10vw;
}

/* //mediaquery for default :-moz-full-screen */


@media screen and (min-width: 1000px)  {


  body {
    font-family: 'proxima-nova', sans-serif;
    margin: 0;
    background: url('../images/honda.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  html, body, #app, .container {
    /* min-height: 100vh; */
    max-height: 100vh;
    max-width: 100%;
  }
  
  input[type="text"] {
    margin: 10px 0px;
    height: 40px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    color: #1e1e1e;
    font: 400 1rem "proxima-nova", sans-serif;
    width: 80%;
    border: 1px solid #dee0e0;
    padding: 0 20px;
    -webkit-transition: border-color 0.2s ease-in-out;
    -moz-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
  }
  
  .start{
    margin: 10px 0px;
    height: 30px !important;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    color: #1e1e1e;
    font: 400 1rem "proxima-nova", sans-serif;
    font-size:calc(8px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))!important;
    width: 60% !important;
    border: 1px solid #dee0e0;
    padding: 0 20px;
    -webkit-transition: border-color 0.2s ease-in-out;
    -moz-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
  }
  
  
  input[type="text"]:focus {
    border: 1px solid #AF9570;
    outline: none !important;
  }
  
  /*input[type="submit"] {
    background-color: #323232;
    color: white;
    font: 700 1rem "proxima-nova",sans-serif;
    border: none;
    position: relative;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    padding: 20px 80px;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
    -moz-box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
    box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
    margin-top: 20px;
  }*/
  
  /* input[type="submit"]:hover {
    -webkit-box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
    -moz-box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
    box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
    background-color: #1e1e1e;
  } */
  
  .chat-image{
    display: inline;
    margin: 0 auto;
    max-width: 20%; 
    height: auto;
    width: auto/9; /*ie8 */
    position: relative;
    overflow: hidden;
    margin-right: 0px;
  }
  
  .init-chat-text{
    justify-content: right;
    text-align: right;
    color: white;
    /* padding-right: 3.5%; */
    font-weight: bold;
  }
  
  .chat-image:hover{
    cursor: pointer;
    transform: scale(1.1);
    padding-bottom: 1.8%;
  }
  
  .container-chat {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
  
  }
  
  .container-chat {
      width: 40%;
      padding-right: 10px;
      padding-left: 20px;
      margin-right: auto;
      margin-left: auto;
      padding-top:  103px;
      
  
  }
  
  .btn-start{
    background-color: #1B4F72;
    color: white;
    height: 2.5vw;
  }


}
