.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background : transparent;
  /* bottom: 0;
  right: 0; */
}

.container-min {
  bottom: 0 !important;
  margin-top: 91.5vh;;
}

.container {
  /* width: 40%;
    padding-right: 10px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-top:  103px; */
}

.messages {
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 1;
  padding: calc(1vh + 1vw);
  font-size:calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  /* height: 368px; */
  height: calc(46vh + 46vw);
}

/* 
h3 {
  text-align: center;
  padding: 20px 0;
  margin: 0;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
} */

.chat-input {
  font-style: italic;
  position: relative;
  overflow: hidden;
  padding: 0 8vw;
  margin-left: 4vw;
  flex-shrink: 0;
  /* margin-top: -241px; */
}

.chat-input input[type="text"] {
  width: 100%;
  margin-left: -20px;
  margin-right: -20px;
  border-radius: 25px;
  /* height: 48px; */
  /* margin-top: 250px; */
}

.initial{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  flex-direction: row;
  font-size:calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  flex-grow: 1;
  flex-shrink: 1;

}



.send {
  height: 40px;
  margin-right: 0px;
  width: 70px;
  background-color: #323232;
  border-color: #323232;
  color: white;
  font: 700 1rem "proxima-nova", sans-serif;
  border: none;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: -7px 7px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow: -7px 7px 0px rgba(50, 50, 50, 0.15);
  box-shadow: -7px 7px 0px rgba(50, 50, 50, 0.15);
}

.message.from-me .username {
  display: none;
}

.message.from-me {
  display: flex;
  justify-content: flex-end;
  margin-bottom: .2vh;
}

.response.from-me,
.greeting {
  display: flex;
  justify-content: flex-start;
  margin-bottom: .2vh;
}

.response-small {
  display: flex;
  justify-content: flex-start;
  margin-bottom: .2vh;
}

/* .message.from-me .message-body {
  background-color: #94C2ED;
  color: black;
} */

.response.from-me .response-body,
.greeting .response-body,
.response-small .response-body-small {
  background-color: #D6EAF8;
  color: black;
}

.message {
  margin-bottom: 20px;
}

.message-body {
  max-width: 58vw;
  display: inline-block;
  padding: 2vw;
  padding-bottom: 0vw;
  background-color: #E5E7E9;
  border: 1px;
  border-radius: 5px;
  padding-right: 3vw;
  position: relative;
}

.message-body:after,
.message-body:before {
  border: solid transparent;
  content: ' ';
  height: 0;
  left: 100%;
  position: absolute;
  width: 0;
}

.message-body:after {
  border-width: 2vw;
  border-left-color: #E5E7E9;
  top: 2vh;
}

.message-body:before {
  border-width: 0px;
  border-left-color: #333;
  top: 2vw;
}

.response-body {
  max-width: 58vw;
  display: inline-block;
  padding: 4vw;
  padding-bottom: 0vw;
  background-color: #D6EAF8;
  border: 1px;
  border-radius: 5px;
  position: relative;
  margin-left: 2.8vw;
}

.response-body-small {
  max-width: 53vw;
  width: 16vw;
  height: 8vh;
  max-height: 24vh;
  display: inline-block;
  padding: 1vw;
  padding-bottom: 2px;
  background-color: #D6EAF8;
  border: 1px;
  border-radius: 5px;
  position: relative;
  margin-left: 8px;
  margin-top: 0vh;
  font-size: calc(15px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
}

/* arrow mark css  */

.response-body:before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border: 20px solid;
  border-color: transparent #D6EAF8 transparent transparent;
  left: -9vw;
  top: 0.5vh;
}

.response-body-small:before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border: 19px solid;
  border-color: transparent #D6EAF8 transparent transparent;
  left: -26px;
  top: 0px;
}

.username {
  font-weight: bold;
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 5px;
}

img-circle {
  border-radius: 50px;
  width: 30px;
}

.clearfix {
  *zoom: 1;
}

/* For IE 6/7 */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.container header {
  background: #1B4F72;
  border-radius: 5px 5px 0 0;
  color: #fff;
  cursor: pointer;
  padding: 1.1% 1.5%;
  font-size: 0.6% !important;
}

.online {
  font-size: calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 700;
}

/* .container h4 {
	font-size: 60.0%;
} */

.chat-close {
  background: #1B4F72;
  border-radius: 50%;
  color: #fff;
  display: block;
  float: right;
  /* font-size: 60.0%; */
  height: 7vw;
  width: 6vw;
  /* line-height: 17px; */
  /* margin: 2px 0 0 0; */
  text-align: center;
  font-weight: 500;





  
  /* line-height: 10px; */
 
 
}

.chat-min {
  background: #1B4F72;
  border-radius: 50%;
  color: #fff;
  display: block;
  float: right;
  height: 7vw;
  width: 6vw;
  /* line-height: 17px;
  margin: 2px 0 0 0; */
  text-align: center;
  font-weight: 700;
  /* margin-right: 6px; */
}

.chat-setting {
  background: #1B4F72;
  border-radius: 50%;
  color: #fff;
  display: block;
  float: right;
  /* font-size: 3.1vw; */
  height: 7vw;
  width: 6vw;
  
  /* margin: 2px 0 0 0; */
  text-align: center;
  font-weight: 700;
  /* margin-right: 6px; */
}

chat-body {
  background-color: #F2F3F4;
}

.image-cropper {
  max-width: 5vmax;
  max-height: 5.1vh;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  /* margin-top: 2.1vh; */
  margin-left: 2vw;
}

.image-cropper-left {
  max-width: 5vmax;
  max-height: 5.1vh;


  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin-top: 2px;
  margin-top: 2vh;
  margin-left: 0vw;
}

img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.fa-paper-plane {
  font-size: calc(15px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  margin-left: -3vw;
  color: gray;
}

.fa_custom {
  color: #FFFFFF;
  font-size: 55.0%;
  background: #1B1A1A;
  padding: 4px;
  border-radius: 50%;
  overflow: auto;
  margin-left: 332px
}

button {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*border is optional*/
  border-bottom: 0px solid #444;
}

.main-body {
  background-color: #F0F3F5;
  border: 1px solid #BEBEBE;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 92vh;
}

hr {
  margin-top: 0rem;
  margin-bottom: 0rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.fa-trash {
  font-size: 70.0%;
  margin-left: 0px;
  color: gray;
}

.fa-angle-double-down,
.fa-angle-double-up {
  font-size: calc(16px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  margin-left: 0;
  color: #FFFFFF;
}

.fa-cog {
  font-size: calc(16px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  margin-left: 0;
  color: #FFFFFF;
}

.fa-close {
  font-size: calc(16px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  margin-left: 0;
  color: #FFFFFF;
}

.history a {
  color: #1B4F72 !important;
  /* font-size: 165%; */
}

.fa-comments {
  font-size: 7.2vw;
  margin-left: 0px;
  color: #FFFFFF;
}

.fa-angle-double-down:hover,
.fa-cog:hover,
.fa-close:hover {
  color: #8C8D8C;
}

.fa-comment {
  font-size: 65%;
  margin-left: 0px;
  color: #FFFFFF;
}

.history {

  font-size: calc(11px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  margin-left: 72vw;
    color: #1B4F72 !important;

}



.history a:hover {
  color: #706E6E;
}

.timestamp {
  font-size: 45%;
  float: right;
  position: relative;
  bottom: -8px;
  font-style: italic;
  color: rgba(158, 158, 158, 0.83);
  font-size: calc(9px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.timestamp-message {
 
  float: right;
  position: relative;
  bottom: -11px;
  font-style: italic;
  color: rgba(158, 158, 158, 0.83);
  right: 0px;
  font-size: calc(9px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

/* hr.style1 {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}
hr.style1:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
} */

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-content,
::-webkit-scrollbar:hover,
::-webkit-scrollbar:focus {
  visibility: visible;
}

input[type="submit"].sgn-btn {
  border: 1px solid;
  background-color: white !important;
  /* padding: 0.3vh 0.2vw!important; */
  font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  cursor: pointer;
  border-color: #0B81C0 !important;
  color: #0B81C0 !important;
  border-radius: 5px;
  display: inline-block;
  width:auto;
  padding-left: 0px !important;
  ;
  padding-right: 0px !important;

}

input[type="submit"].sgn-btn:hover {
  display: inline-block;
  background: #0B81C0!important;
  color: white!important;
}

.suggestion-list{
 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: .5vw;
  margin-left: 3vw;
  padding-top: 1vh;
}

/* //applying media query  */

@media screen and (min-width: 400px)  
/* (min-height: 700px) and (max-height: 1000px) */
{
  .image-cropper-left {
    max-width: 8vw;
    max-height: 5.1vh;
 
  
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
  
    margin-top: 1vh;
    margin-left: 0vw;
  }
  .response-body:before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border: 20px solid;
    border-color: transparent #D6EAF8 transparent transparent;
    left: -6vw;
    
    top: 0.5vh;
  }
  

  .response-body {
    max-width: 40vw;
    display: inline-block;
    padding: 3vw;
    padding-top: 1.5vw;
    padding-bottom: 0vw;
    background-color: #D6EAF8;
    border: 1px;
    border-radius: 5px;
    position: relative;

    margin-left: 1.8vw;
  }

}


@media screen and (min-width: 1000px)  {
  
  .container {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
  
  }
  
  .container {
      width: 40%;
      padding-right: 10px;
      padding-left: 20px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 42vh;
      margin-left: 60vw;
  
  }

  .container-min {
    bottom: 0 !important;
    margin-top: 50.5vh;
  }

  .messages {
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    padding: 20px;
    font-size: 15px;
    height: 368px;
   
  }


.initial{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  flex-direction: row;
  font-size:calc(8px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  flex-grow: 1;
  flex-shrink: 1;

}

  /* 
  h3 {
    text-align: center;
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
  } */
  
  .chat-input {
    font-style: italic;
    position: relative;
    overflow: hidden;
    padding: 0 40px;
    flex-shrink: 0;
    margin-top: -241px;
  }
  
  .chat-input input[type="text"] {
    width: 100%;
    margin-left: -20px;
    margin-right: -20px;
    border-radius: 25px; 
    height: 48px;
    margin-top: 250px;
  }
  
  
  .send{
  height :40px;
  margin-right: 0px;
  width:70px;
  background-color: #323232;
  border-color: #323232;
    color: white;
    font: 700 1rem "proxima-nova",sans-serif;
    border: none;
    position: relative;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
    -moz-box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
    box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
    
  
  } 
  
  .message.from-me .username {
    display: none;
  }
  
  .message.from-me {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
  }
  
  .response.from-me,.greeting  {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
  }
  
  .response-small {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
  }
  
  /* .message.from-me .message-body {
    background-color: #94C2ED;
    color: black;
  } */
  
    .response.from-me .response-body, .greeting .response-body , .response-small .response-body-small {
    background-color:  #D6EAF8;
    color: black;
  }
  
  
  .message {
    margin-bottom: 20px;
    
  }
  .message-body {
    max-width: 80%;
    display: inline-block;
    padding: 15px;
    padding-bottom: 0px;
    background-color: #E5E7E9;
    border: 1px;
    border-radius: 5px;
    padding-right: 50px;
    position: relative;
    
  
  }
  
  .message-body:after, .message-body:before {
    border: solid transparent;
    content: ' ';
    height: 0;
    left: 100%;
    position: absolute;
    width: 0;
  }
  
  .message-body:after {
    border-width: 9px;
    border-left-color: #E5E7E9;
    top: 15px;
  }
  
  .message-body:before {
    border-width: 1px;
    border-left-color: #333;
    top: 10px;
  }
  
  
  .response-body {
    max-width: 80%;
    display: inline-block;
    padding: 15px;
    padding-bottom:2px;
    background-color: #D6EAF8;
    border: 1px;
    border-radius: 5px;
   position :relative;
   margin-left: 8px;
  }
  
  .response-body-small{
    max-width: 80%;
    display: inline-block;
    padding: 15px;
    padding-bottom:2px;
    background-color: #D6EAF8;
    border: 1px;
    border-radius: 5px;
   position :relative;
   margin-left: 8px;
   margin-top: 6px;
  }
  
  
  
  /* arrow mark css  */
  
  .response-body:before{
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border: 20px solid;
    border-color: transparent #D6EAF8 transparent transparent;
    left: -30px;
    top: 5px;
  }
  
  .response-body-small:before{
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border: 20px solid;
    border-color: transparent #D6EAF8 transparent transparent;
    left: -30px;
    top: 0px;
  }
  
  
  
  
  
  
  
  .username {
    font-weight: bold;
    font-size: 0.9rem;
    color: #999;
    margin-bottom: 5px;
  }
  
  img-circle {
    border-radius: 50px;
    width :30px;
  }
  .clearfix { *zoom: 1; } /* For IE 6/7 */
  .clearfix:before, .clearfix:after {
      content: "";
      display: table;
  }
  .clearfix:after { clear: both; }
  .container header {
    background: #1B4F72    ;
    border-radius: 5px 5px 0 0;
    color: #fff;
    cursor: pointer;
    padding: 16px 24px;
  }
  
  .online {
    font-size: 14px;
    font-weight: 700;
  }
  
  .container h4 {
    font-size: 18px;
  }
  .chat-close {
    background: #1B4F72;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: right;
    font-size: 18px;
    height: 20px;
    width: 20px;
    line-height: 17px;
    margin: 2px 0 0 0;
    text-align: center;
    font-weight: 700;
  }
  
  .chat-min {
    background: #1B4F72;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: right;
    font-size: 18px;
    height: 20px;
    width: 20px;
    line-height: 17px;
    margin: 2px 0 0 0;
    text-align: center;
    font-weight: 700;
    margin-right: 6px;
  
  }
  
  .chat-setting {
    background: #1B4F72;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: right;
    font-size: 18px;
    height: 21px;
    width: 21px;
    line-height: 22px;
    margin: 2px 0 0 0;
    text-align: center;
    font-weight: 700;
    margin-right: 6px;
  
  }
  
  
  
  chat-body{
  
    background-color: #F2F3F4;
  }
  
  .image-cropper {
    width: 25px;
    height: 25px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin-top: 2px;
    margin-top: 11px;
    margin-left: 8px;
  }
  
  .image-cropper-left {
    width: 25px;
    height: 25px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin-top: 2px;
    margin-top: 11px;
    margin-left: 8px;
  }
  
  
  
  img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
  .fa{
    font-size:25px;
    margin-left: -20px;
    color:gray;
  
  }
  
  .fa_custom{
      color:#FFFFFF;
      font-size:16px;
      background: #1B1A1A;
      padding:4px;
      border-radius: 50%;
     
      overflow:auto;
      margin-left: 332px
  
      
  }
  
  
  button {
    background:none!important;
    border:none; 
    padding:0!important;
    /*border is optional*/
    border-bottom:0px solid #444; 
  }
  .main-body{
    background-color: #F0F3F5;
    border: 1px solid #BEBEBE;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
   
  }
  
  hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .fa-trash{
    font-size: 25px;
    margin-left: 0px;
    color: gray;
    
  }
  
  .fa-angle-double-down,.fa-angle-double-up{
  
    font-size: 22px;
    margin-left: 0px;
    color: #FFFFFF;
  
  }
  
  
  .fa-cog{
    font-size: 22px;
    margin-left: 0px;
    color: #FFFFFF;
  }
  
  .fa-close{
    
        font-size: 22px;
        margin-left: 0px;
        color: #FFFFFF;
      
    }
  
    .fa-comments{
   
      
      font-size: 22px;
      margin-left: 0px;
      color: #FFFFFF;
  
    }
  
    .fa-angle-double-down:hover,.fa-cog:hover,.fa-close:hover{
      color: #8C8D8C;
    }
  
    .fa-comment{
      font-size: 22px;
      margin-left: 0px;
      color: #FFFFFF;
    }
    
    .history {
      font-size: 12px;
      margin-left: 82%;
      color: #1B4F72 !important;
    }
    .history a {
      color: #1B4F72 !important;
     
    }
  
  
  .history a:hover{
    color:#706E6E; 
  }
  


  
  
  .timestamp{
    font-size: 12px;
    float: right;
    position: relative; 
    bottom: -8px;
    font-style: italic;
    color: rgba(158, 158, 158, 0.83);
  }
  .timestamp-message{
    font-size: 12px;
    float: right;
    position: relative; 
    bottom: -11px;
    font-style: italic;
    color: rgba(158, 158, 158, 0.83);
    right:0px;
    left : 40px;
  }
  
  /* hr.style1 {
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
  }
  hr.style1:after {
    content: '';
    display: block;
    margin-top: 2px;
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
  } */
  
  
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  ::-webkit-scrollbar-content,
  ::-webkit-scrollbar:hover,
  ::-webkit-scrollbar:focus {
    visibility: visible;
  }
  
  /* css for suggestion button list */
  
  input[type="submit"].sgn-btn {
    border: 1px solid;
    background-color: white !important;
    /* padding: 0.3vh 0.2vw!important; */
    font-size: calc(4px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    cursor: pointer;
    border-color: #0B81C0 !important;
    color: #0B81C0 !important;
    border-radius: 5px;
    display: inline-block;
    width:auto;
    padding-left: 0px !important;
    ;
    padding-right: 0px !important;
  
  }
  
  input[type="submit"].sgn-btn:hover {
    display: inline-block;
    background: #0B81C0!important;
    color: white!important;
  }
  
  .suggestion-list{
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5vw;
    margin-left: 3vw;
    padding-top: 1vh;
  }




}